# ==========================================
# WORDPRESS CORE
# ==========================================

/wordpress/


# ==========================================
# CONFIGURACIÓN LOCAL
# ==========================================

.env
/wordpress/wp-config.php


# ==========================================
# EDITOR / IDE
# ==========================================

.vscode/


# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# DEPENDENCIAS
# ==========================================

node_modules/
vendor/


# ==========================================
# LOGS
# ==========================================

*.log